.josefin{
    font-family: 'Josefin Sans',
    sans-serif;
}
.dark-primary-color    { background: #512DA8; }
.primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
nav .brand-logo {
	margin-left: 15px;
	margin-top: 5px;
}
nav .brand-logo img{
	border-radius: 15px;
}
nav li.active a{
	
}

/* -----------------HOME SECTION STYLES -----------------*/
#home .parallax-container img {
	filter: blur(5px);
}
#home .parallax-container h1{
	opacity: 1;
	margin-top: 20vh;
	font-weight: bold;
	animation-name: fadeInUp;
	animation-duration: 2s;
}
#home h1 {
	opacity: 0;
}
#home h1.visible{
	opacity: 1;
	animation-name:  zoomIn;
	animation-duration: 1s;
}
#home img.visible{
	animation-name:  zoomIn;
	animation-duration: 2s;
}


/* -----------------TOPICS PAGE STYLES -----------------*/

#topics .pagination li{
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	border-radius: 4px;
	margin-top: 2px;
}
/*--------------------DETAIL TOPIC STYLES----------------  */
#detail .parallax-container img {
	filter: blur(5px);
}
#detail .parallax-container h1{
	opacity: 1;
	margin-top: 10%;
	font-weight: bold;
	animation-name: fadeInUp;
	animation-duration: 2s;
}
#detail h1 {
	opacity: 0;
}
#detail h1.visible{
	opacity: 1;
	animation-name:  zoomIn;
	animation-duration: 1s;
}
#detail img.visible{
	animation-name:  zoomIn;
	animation-duration: 2s;
}
/*--------------------ABOUT STYLES----------------  */
#tools .card-panel.visible{
	animation-name: jackInTheBox;
	animation-duration: 2s;
}
#creators  .card-panel.visible{
	animation-name: zoomIn;
	animation-duration: 1s;
}