{% extends 'trends/base.html' %}
{% load static %}

{% block active_index %}active{% endblock %}

{% block body %}
<div id="home">

<div class="parallax-container">
	<div class="parallax">
		<img src="{% static 'trends/images/social-media.png' %}" >
	</div>
	<h1 class="josefin center-align" >Welcome <br> to NeutraLit</h1>
</div>

<br><br><br>
<div class="center" v-if="india">
	<div class="container">
		<h1 class="josefin osa" >India Today</h1><br><br>
		<img :src="[[india]]" class="responsive-img osa"><br><br><br><br>
	</div>
	<div class="container">
		<h1 class="josefin osa" >Trending Topics</h1><br><br>
		<img :src="[[bargraph]]" class="responsive-img osa"><br><br><br><br>
	</div>
	<div class="container">
		<h1 class="josefin osa" >Top Hashtags</h1><br><br>
		<img :src="[[piechart]]" class="responsive-img osa"><br><br><br><br>
	</div>
</div>
<div v-else class="center" style="height: 80vh;margin-top: 30vh;">
	<div class="preloader-wrapper big active">
	    <div class="spinner-layer spinner-blue-only">
	      <div class="circle-clipper left">
	        <div class="circle"></div>
	      </div><div class="gap-patch">
	        <div class="circle"></div>
	      </div><div class="circle-clipper right">
	        <div class="circle"></div>
	      </div>
	    </div>
		 </div>
		 <h4>Loading....</h4>
	</div>
</div>

<div class="fixed-action-btn">
	<a href="{% url 'trends:topics' %}" id="menu" class="btn-floating btn-large accent-color pulse">
	<i class="large material-icons">apps</i>
	</a>
</div>

<!-- Tap Target Structure -->
<div class="tap-target accent-color" data-activates="menu">
	<div class="tap-target-content">
		<h5 class="white-text">Topics</h5>
		<p class="white-text">To view topicwise analysis click here</p>
	</div>
</div>
{% endblock %}