
{% extends 'trends/base.html' %}
{% block active_topics %}active{% endblock %}
{% load static %}
{% block body %}

<div id="topics" class="row">
	<br>
	<h2 class="josefin center-align" data-aos="fadeInUp">Topics</h2>
	<br>
	<div class="col l8 offset-l2">
		{% for topic in topics %}
		<ul class="collapsible popout">
			<li class="">
				<div class="collapsible-header">
					<h4 class="josefin flow-text">{{topic.0}}</h4>
					<span class="teal white-text badge">{{topic.1}}+ tweets</span>
				</div>
				<div class="collapsible-body">
					<h5>Random Tweet</h5>
					<p>{{topic.2}}</p>
					<a href="{% url 'trends:topics_detail' name=topic.0 %}" class="btn blue">View Analysis</a>
				</div>
			</li>
		</ul>
		{% endfor %}
	</div>
	<div class="container">
		<ul class="pagination col l10 offset-l3">
		{% if topics.has_previous %}
		<li class="waves-effect">
			<a href="?page=1">first</a>
		</li>
		<li class="waves-effect">
			<a href="?page={{topics.previous_page_number}}">prev</a>
		</li>
		{% endif %}
		{% for num in topics.paginator.page_range %}
			{% if topics.number == num %}
				<li class="blue waves-effect active">
					<a href="?page={{num}}" class="white-text">{{num}}</a>
				</li>
			{% else %}
				<li class="waves-effect">
					<a href="?page={{num}}">{{num}}</a>
				</li>
			{% endif %}
		{% endfor %}
		
		{% if topics.has_next %}
		<li class="waves-effect">
			<a href="?page={{topics.next_page_number}}">next</a>
		</li>
		<li class="waves-effect">
			<a href="?page={{topics.paginator.num_pages}}">last</a>
		</li>
		{% endif %}
	</ul>
	</div>
</div>
{% endblock %}