
{% extends 'trends/base.html' %}
{% block active_topics %}active{% endblock %}
{% load static %}
{% block body %}

<div id="topics" class="row">
	<br>
	<h2 class="josefin center-align" data-aos="fadeInUp">Topics</h2>
	<br>
	<div class="col l8 offset-l1">
		{% for topic in topics %}
		<ul class="collapsible popout">
			<li class="">
				<div class="collapsible-header">
					<h4 class="josefin">{{topic.0}}</h4>
					<span class="teal white-text badge">{{topic.1}}+ tweets</span>
				</div>
				<div class="collapsible-body">
					<h5>Random Tweet</h5>
					<p>{{topic.2}}</p>
					<a href="" class="btn blue">View Analysis</a>
				</div>
			</li>
		</ul>
		{% endfor %}
	</div>
<!-- 	{% for topic in topics %}
	<div class="col l3 m6 s12">
		<div class="card hoverable z-depth-2 osa">
			<div class="card-content">
				<h3 class="josefin">{{topic.0}}<span class="teal white-text badge">{{topic.1}}tweets</span></h3>
				{{topic.2}}
			</div>
			<div class="card-action">
				<a href="">View Analysis <i class="material-icons right ">send</i> </a>
			</div>
		</div>
	</div>
	{% endfor %} -->
</div>
{% endblock %}